body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    /*flex-direction: column;*/
}
.Mastil{
    height: 60px;
    width: 20px;
    background-color: black;
    margin: auto;

}
.Semaforo{
    height: 600px;
    width: 250px;
    background-color: black;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}
.LigthRed{

    margin-top: 10px;
    background-color: red;
    

}
.LigthGreen{
 
    background-color: green;
    
}
.LigthYellow{
   
    background-color: yellow;
   
}
.Ligth{
    height:150px;
    width: 150px;
    border-radius: 50%;
}
.Pulsador{
    box-shadow: 0px 0px 20px 10px rgb(246, 246, 128);
}
.LigthPurple{
    background-color: purple;
    margin-bottom: 10px;
}

.button-container{

    width: 100%;
    display: flex;
    justify-content: center;
    gap :10px
    
   
}
.button-right{
    background-color: blueviolet;
}
.button-left{
    background-color: aqua;
}